
Ë
9
android*http://schemas.android.com/apk/res/androidmanifest""packagecom.example.primeiroapp"K
*http://schemas.android.com/apk/res/androidversionCode1"(›„„2:0"C
*http://schemas.android.com/apk/res/androidversionName1.0(œ„„"R
*http://schemas.android.com/apk/res/androidcompileSdkVersion28"(òŠ„2:0"(platformBuildVersionCode28"2:0"O
*http://schemas.android.com/apk/res/androidcompileSdkVersionCodename9(óŠ„"'platformBuildVersionName9"2:0	*

    *¶
­uses-sdk"N
*http://schemas.android.com/apk/res/androidminSdkVersion21"(Œ„„2:0"Q
*http://schemas.android.com/apk/res/androidtargetSdkVersion28"(ğ„„2:0*

    	(*ğ	
ç	application"N
*http://schemas.android.com/apk/res/androidallowBackuptrue"(€…„2:@"s
*http://schemas.android.com/apk/res/androidappComponentFactory+android.support.v4.app.CoreComponentFactory(úŠ„"n
*http://schemas.android.com/apk/res/androidicon@mipmap/ic_launcher"(‚€„2
€€¨ømipmap/ic_launcher"i
*http://schemas.android.com/apk/res/androidlabel@string/app_name"(€„2
§€¬østring/app_name"
*http://schemas.android.com/apk/res/android	roundIcon@mipmap/ic_launcher_round"(¬Š„2"
 €¨ømipmap/ic_launcher_round"N
*http://schemas.android.com/apk/res/androidsupportsRtltrue"(¯‡„2:@"g
*http://schemas.android.com/apk/res/androidtheme@style/AppTheme"(€€„2
…€°østyle/AppTheme*	
        )*Û
Òactivity"]
*http://schemas.android.com/apk/res/androidname$com.example.primeiroapp.MainActivity(ƒ€„*
            G*¼
³intent-filter*
                *e
]action"S
*http://schemas.android.com/apk/res/androidnameandroid.intent.action.MAIN(ƒ€„*

                D*m
ecategory"Y
*http://schemas.android.com/apk/res/androidname android.intent.category.LAUNCHER(ƒ€„*
            L*	
        *
    *


